@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #27AE60;
	/*font-family: 'Montserrat', sans-serif; */
}

/*
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
*/



@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

footer {
	background: #27AE60;
	background: -webkit-linear-gradient(to right, #27AE60, #4e73df);
	background: linear-gradient(to right, #27AE60, #4e73df);
	color: whitesmoke;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 0;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

/* Estilos para a barra lateral */
#accordionSidebar {
    transition: width 0.3s;
}

#accordionSidebar.toggled {
    width: 80px;
}

.sidebar-brand img {
    width: 100%;
    height: auto;
}

#accordionSidebar.toggled .sidebar-brand img {
    display: block;
}
